* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafdfe;
  font-family: roboto;
}

.container {
  width: 100%;

  margin-top: 10vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  width: 100%;

  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 100%;
  flex-direction: column;

  display: flex;
  align-items: center;
  justify-items: center;
}

.input label {
  font-size: 25px;
  font-weight: 700;

  color: #55acee;

  margin-bottom: 10px;
}

.input span {
  font-weight: 700;
  color: #c62828;

  margin: 10px 0 20px;
}

.input input {
  width: 95%;
  height: 40px;
  max-width: 400px;

  color: #757575;
  font-weight: 500;

  padding: 0 10px;

  border-radius: 4px;
  border: 1px solid #55acee;
}

.container button {
  width: 95%;
  height: 45px;
  max-width: 400px;

  border: none;
  border-radius: 3px;

  color: #fdfafe;
  background-color: #55acee;

  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.container button:disabled {
  cursor: not-allowed;
  background-color: #90caf9;
}

.container button span {
  font-size: 16px;
  font-weight: 600;

  z-index: 2;
  position: relative;
}

.container button::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 400px;
  height: 100%;

  border-radius: 3px;

  background-color: #43a047;

  content: "";
  transition: all 0.2s;

  z-index: 1;
  position: absolute;
}

.container button:disabled::after {
  height: 0;
  width: 100%;
}

.container button:valid:after {
  width: 100%;
  height: 45px;
}

.container #cepData {
  width: 95%;
  display: flex;
  max-width: 400px;
  margin-top: 30px;

  animation: Fade-in;
  transition: all 0.5s;
}

.container #cepData ul {
  list-style-type: none;
}

.container #cepData ul li {
  display: flex;
  margin: 16px 0;
  color: #424242;
}

.container #cepData ul li span {
  color: #65636B;
  margin-right: 10px;
}

.container #cepData ul li span:not(:first-child) {
  color: #9B9EA3;
  margin-right: 10px;
}

#consultarCep {
  cursor: pointer;
  background-color: #81c784;
}

#consultarCep:not(:disabled):hover {
  opacity: 0.7;
}

#consultarCep:disabled {
  cursor: not-allowed;
  background-color: #90caf9;
}

@media (max-width: 630px) {
  .container #cepData ul li {
    flex-direction: column;
  }
}

@keyframes Fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
